:root{
	--primary: #f8f8f8;
	--secondary: white;
	--highlight: #e0e0e0;
	--text: black;
	--link: #44a;
	--fade: 0.7;
}
@media screen and (prefers-color-scheme: dark){
	:root{
		--primary: #112;
		--secondary: #223;
		--highlight: #445;
		--text: #eee;
		--link: #aaf;
		--fade: 0.8;
	}
}
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
html{
	font-family: Helvetica, Roboto, Sans-serif;
	font-size: 12pt;
	margin: 0;
}
body{
	margin: 2rem 0;
	background: var(--primary);
	color: var(--text);
}
body * {
	box-sizing: border-box;
}

/* RESET */
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
h1{
	font-size: 1rem;
	text-align: center;
}
h2{
	font-size: 2.6rem;
	margin: 2rem 0 1rem 0;
}
h3{
	font-size: 1.9rem;
}
h4{
	font-size: 1rem;
}

footer{
	text-align: center;
}
img{
	object-fit: cover;
}

h1 a{
	color: inherit;
	text-decoration: none;
}
article a{
	transition: color 100ms;
	color: var(--link);
	text-decoration: none;
}
article a:hover,
article a:focus{
	color: inherit;
	text-decoration: underline;
}
/* SNIPPET */
.snippet{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: inherit;
	padding: 0.5rem;
	opacity: var(--fade);
	user-select: none;
	transition: opacity 100ms;
	width: 12rem;
}
.snippet:hover{
	opacity: 1;
}
.snippet>*{
	pointer-events: none;
}
.snippet>h4{
	overflow-wrap: break-word;
}
.snippet>.image{
	margin: 0 0 0.5rem 0;
	width: 100%;
	height: 50%;
}
.snippet[featured]{
	width: 28rem;
	flex-direction: row-reverse;
}
.snippet[featured]>h4{
	font-size: 1.4rem;
}
.snippet[featured]>.image{
	margin: 0 0 0 0.5rem;
	width: 50%;
	height: 100%;
}
.carousel{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow: auto hidden;
	padding-bottom: 2rem;
	height: 18rem;
	width: 100%;
}
.carousel>*{
	white-space: initial;
	margin-right: 1rem;
	height: 16rem;
	border: .1rem solid var(--highlight);
	background: var(--secondary);
	max-width: 100vw;
}
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
main[hidden]{
	display: none;
}
.article{
	display: flex;
	flex-direction: column;
	animation: fade-in 200ms ease-out 200ms both;
}
@keyframes fade-in{
	from { opacity: 0 }
	to { opacity: 1 }
}
.article>*{
	margin-inline: auto;
	margin-bottom: 1rem;
	padding: 0 2rem;
	width: 36rem;
	max-width: 100vw;
}
.article>h2{
	line-height: 1.2;
}
.article>h2:focus{
	outline: 0;
}
.article>.carousel{
	width: 100vw;
	padding-block: 1rem;
	align-content: safe center;
}
.article>.carousel>.youtube{
	width: 28.44rem;
}
.article>.carousel:empty{
	display: none;
}
.article>.metadata{
	font-style: italic;
}
.article>.metadata>.author{
	display: inline;
}
.article>.metadata>.author:empty{
	display: none;
}
.article>.metadata>.author::before{
	content: 'by ';
}
.article>.metadata>.author::after{
	content: ' · '
}
.article>.body{
	font-size: 1.15rem;
	line-height: 1.4;
}
.article>header{
	display: none;
}
main>footer{
	margin: 10rem 0;
}
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
#category-schedule>p {
	text-align: center;
}
.schedule{
	width: 94%;
	margin: 3rem 3%;
}
.schedule td{
	height: 1pt;
}
.schedule time{
	position: absolute;
	transform: translateX(-50%);
	font-weight: bold;
}
.schedule td:nth-child(even){
	background: var(--highlight);
}
.schedule td:nth-child(even) time{
	transform: translate(-50%, -100%);
}
.schedule td.highlighted-period{
	background: var(--text)
}
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
.location>h2{
	text-align: center;
}
.category>*{
	padding: 0 2rem;
}
.category>h3{
	margin: 1rem 0;
}
/*//////////////////*/
/*//////////////////*/
/*//////////////////*/
body>footer{
	margin: 50vh 0;
}

#category-Featured,#category-Debug{
	display: none;
}
